@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply transition-colors duration-150
}

.hero h1 {
    -webkit-text-stroke: 3px #00c8ff;
    color: transparent;
}

.swiper {
    width: 100%;
    overflow: hidden;
}

.swiper-slide {
    height: 300px;
    border-radius: 10px;
    background: rgb(247, 247, 247);
    display: flex;
    justify-content: center;
    align-items: center;
    will-change: transform;
    transition: transform 0.3s ease;

    margin: auto;
}




.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.skill-project {
    padding: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}